@charset "UTF-8";

/* GAME ELEMENTS */
#game {
    width:      100%;
    height:     100%;
}

.board {
    position:   absolute;
    z-index:    1;
}

.holder {
    position:   relative;
    width:      80px;
    height:     80px;
}

.board > .holder {
    float:      left;
    border:     1px solid #ddd;
    margin:     -1px 0 0 -1px;
}

.board > .holder[data-col="0"] {
    clear:      left;
}

.deck {
    position:   absolute;
    width:      80px;
    height:     80px;
    border:     1px solid #aaa;
    background: #eee;
    z-index:    10;
}

.card, .cardBack {
    position:   absolute;
    width:      inherit;
    height:     inherit;
    border:     1px solid #aaa;
    margin:     -1px 0 0 -1px;
    background: #eee;
    z-index:    1;
}

.cardBack > .text, .deck > .text {
    margin-top: 30%;
    text-align: center;
    color:      #666;
}

.card > .text {
    margin-top: 15%;
    text-align: center;
    color:      #666;
}

.path {
    position:   absolute;
    top:        0;
    left:       0;
    width:      inherit;
    height:     inherit;
}

.path svg {
    position: absolute;
    top:      0;
    left:     0;
    width:    inherit;
}

/* CARD DRAGGING */
.card.draggable, .card.rotateable {
    background:     #fff;
}

.card.draggable:hover, .card.ui-draggable-dragging {
    border:         2px solid blue;
    margin:         -2px 0 0 -2px;
    z-index:        10;
}

.card.ui-draggable-dragging {
    box-shadow:     0 0 4px 2px #555;
}

.card.rotateable:not(.draggable):hover {
    margin:         -2px 0 0 -2px;
    border:         2px dotted blue;
    z-index:        10;
}

/* ROTATION EFFECT */
.card {
    transition:         transform 300ms;
    -moz-transition:    -moz-transform 300ms;
    -webkit-transition: -webkit-transform 300ms;
    -o-transition:      -o-transform 300ms;
}

/* FLIPPING EFFECT */
.deck {
    perspective:            200;
    -moz-perspective:       200;
    -webkit-perspective:    200;
    -o-perspective:         200;
}

.deck > .holder {
    position:               absolute;
    width:                  inherit;
    height:                 inherit;
    
    transform-style:        preserve-3d;
    -moz-transform-style:   preserve-3d;
    -webkit-transform-style:preserve-3d;
    -o-transform-style:     preserve-3d;
    
    transform-origin:           100% 50%;
    -moz-transform-origin:      100% 50%;
    -webkit-transform-origin:   100% 50%;
    -o-transform-origin:        100% 50%;

    backface-visibility:        hidden;
    -moz-backface-visibility:   hidden;
    -webkit-backface-visibility:hidden;
    -o-backface-visibility:     hidden;

    transform:              rotateY(-180deg) translateX(100%);
    -moz-transform:         rotateY(-180deg) translateX(100%);
    -webkit-transform:      rotateY(-180deg) translateX(100%);
    -o-transform:           rotateY(-180deg) translateX(100%);
}

.deck:not(.flipped) > .holder {
    transition:             transform 500ms;
    -moz-transition:        -moz-transform 500ms;
    -webkit-transition:     -webkit-transform 500ms;
    -o-transition:          -o-transform 500ms;

    transform:              rotateY(0) translateX(0);
    -moz-transform:         rotateY(0) translateX(0);
    -webkit-transform:      rotateY(0) translateX(0);
    -o-transform:           rotateY(0) translateX(0);
}

.deck > .holder > .card, .deck > .holder > .cardBack {
    backface-visibility:        hidden;
    -moz-backface-visibility:   hidden;
    -webkit-backface-visibility:hidden;
    -o-backface-visibility:     hidden;
}

.deck > .holder > .cardBack {
    transform:              rotateY(-180deg);
    -moz-transform:         rotateY(-180deg);
    -webkit-transform:      rotateY(-180deg);
    -o-transform:           rotateY(-180deg);
}