@charset "UTF-8";

/* PAGE ELEMENTS */
body {
    font-family:   "Trebuchet MS", Helvetica, sans-serif;
    color:          #333;
    line-height:    105%;
}

#metaBar {
    position:   absolute;
    left:       0;
    top:        0;
    bottom:     0;
    width:      200px;
    background: #f5f5f5;
}

#content {
    position:   absolute;
    left:       200px;
    right:      0;
    top:        0;
    bottom:     0;
    padding:    10px;
}

header {
    margin:     20px 10px;
}

header h1 {
    font-size:  220%;
}

menu {
    width:      100%;
    margin:     10px;
}

menu > button {
    margin-bottom:  10px;
}

#messageArea {
    list-style: none;
    font-size: 90%;
}

#messageArea li {
    overflow:   hidden;
    margin-top: 2px;
    padding:    5px 10px 5px 6px;
    border-left:4px solid #888;
    border-top: 1px solid #888;

    -ms-transition:     height  100ms;
    -moz-transition:    height  100ms;
    -webkit-transition: height  100ms;
    -o-transition:      height  100ms;
    transition:         height  100ms;
}

footer {
    position:   absolute;
    bottom:     0;
    margin:     10px;
    font-size:  80%;
}

button {
    display:    block;
    border:     1px solid #666;
    border-radius:  3px;
    background: #eee;
    font-size:  105%;
    text-align: center;
    cursor:     default;
}
button:hover {
    background: #fff;
}

#playerList {
    list-style: none;
    padding:    0;
    margin:     0;
}

#playerList li {
}

#content h1 {
    margin:     1em 0;
    font-size:  130%;
}
#content h2 {
    font-size:  110%;
    margin:     1em 0 0.3em 0;
}

#content p, #content li {
    margin-bottom:  0.5em;
}

#content > .textScreen  ul, #content > .textScreen  ol {
    padding-left:   2em;
}

#content > .textScreen > .background {
    /* this is the opacity mask that hides the content behind the textscreen */
    position:   absolute;
    top:        0;
    bottom:     0;
    left:       0;
    right:      0;
    background: #fff;
    opacity:    0.9;
    z-index:    -10;
}

#content > .textScreen {
    position:   absolute;
    top:        0;
    bottom:     0;
    left:       0;
    right:      0;
    padding:    10px;
    z-index:    20;
    padding-top:3.5em;
    -moz-column-width:      400px;
    -webkit-column-width:   400px;
    -ms-column-width:       400px;
    column-width:           400px;
}

#content > .textScreen h1 {
    position:   absolute;
    top:        0;
}

#content > .textScreen button[name=close] {
    position:   absolute;
    top:        10px;
    right:      10px;
}