@charset "UTF-8";
.pathContainer {
    opacity:        0.5;
    stroke:         black;
    stroke-width:   14;
    fill:           black;
    
    transition:         opacity 1s, fill 1s, stroke 1s;
    -moz-transition:    opacity 1s, fill 1s, stroke 1s;
    -webkit-transition: opacity 1s, fill 1s, stroke 1s;
    -o-transition:      opacity 1s, fill 1s, stroke 1s;
}

.pathFill {
    stroke:         none !important;
    opacity:        0.2;
    
    transition:         opacity 1s;
    -moz-transition:    opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition:      opacity 1s;
}

.pathBorder {
    fill:           none !important;
}

.card:hover, .deck .card {

}

.path.colored .pathContainer {
    opacity:    0.7;
}

.path.colored .pathFill {
    opacity:    0.4;
}

.card:hover .pathContainer, .deck .card .pathContainer {}
.card:hover .pathContainer .pathFill, .deck .card .pathContainer .pathFill {
    opacity:    0.3;
}