@charset "UTF-8";
.pathContainer {
    opacity:        0.6;
    stroke:         #444444;
    stroke-width:   14;
    fill:           #444444;

    -ms-transition:     opacity 1s, fill 1s, stroke 1s;
    -moz-transition:    opacity 1s, fill 1s, stroke 1s;
    -webkit-transition: opacity 1s, fill 1s, stroke 1s;
    -o-transition:      opacity 1s, fill 1s, stroke 1s;
    transition:         opacity 1s, fill 1s, stroke 1s;
}

.pathFill {
    stroke:         none !important;
    opacity:        0.2;

    -ms-transition:     opacity 1s;
    -moz-transition:    opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.pathBorder {
    fill:           none !important;
}

.card:hover .pathContainer {
    opacity:    0.8;
}

.path.strong .pathContainer {
    opacity:    0.7;
}
.path.strong .pathFill {
    opacity:    0.4;
}

.card:hover .pathContainer, .deck .card .pathContainer {}
.card:hover .pathContainer .pathFill, .deck .card .pathContainer .pathFill {
    opacity:    0.3;
}