.shortcutGame {
    position: relative;
}

.shortcutPositioner {
    transition: top ease-in-out 300ms, left ease-in-out 300ms;
}

.shortcutBox {
    position: absolute;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    margin: -1px 0 0 -1px;
}

.shortcutPathContainer {
    opacity: 0.6;
    stroke: #444444;
    stroke-width: 14;
    fill: #444444;
    transition: opacity 1s, fill 1s, stroke 1s;
}

.shortcutPathFill {
    opacity: 0.2;
    stroke: none;
    transition: opacity 1s;
}

.shortcutPathBorder {
    fill: none;
}

.shortcutCard {
    border: 1px solid #aaa;
    background-color: #eee;
    z-index: 1;
    transition: transform ease-in-out 300ms, box-shadow 100ms;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

.shortcutCard.shortcutSelected {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.shortcutField {
    border: 1px solid #ddd;
}
