.card {
    @include component();
    border:     1px solid #aaa;
    background: #eee;
    z-index:    1;
    transition: background 300ms, border-radius 300ms, transform 300ms, top 300ms, left 300ms, box-shadow 100ms;
    overflow:   hidden;
}

.card.selected {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
