{
    "plugins": [
        "react"
    ],
    "env": {
        "browser": true,
    },
    "ecmaFeatures": {
        "jsx": true
    },
    "rules": {
        "react/jsx-uses-vars": 2,
        "react/jsx-uses-react": 2
    }
}
