.shortcut-card {
    border:     1px solid #aaa;
    background: #eee;
    z-index:    1;
    transition: transform ease-in-out 300ms, top ease-in-out 300ms, left ease-in-out 300ms, box-shadow 100ms;
    overflow:   hidden;
}

.shortcut-card.selected {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
