<header><hgroup>
    <h1>Shortcut</h1>
    <h2>This is a tagline!</h2>
</hgroup></header>

<section id="content" />

<footer>
    <p>I have a <a href="https://jasperwoudenberg.com">website</a>. This code can be found on <a href="https://github.com/jwoudenberg/Shortcut">Github</a>.</p>
</footer>