<h1>The Rules</h1>
<p>These rules are not yet enforced by the game. Also, in the future, different rulesets will be a possibility.</p>
<h2>Goal</h2>
<p>To build a route between your two bases (the dead ends). The route must connect directly to the front entrances of your bases. Going round back does not count!</p>
<h2>Turns</h2>
<p>Players take turns. In his/her turn, a player has two options:</p>
<ul>
    <li>To draw a new card and place it in any free field and in any orientation.</li>
    <li>To rotate a card already on the board to any orientation, but only if a route from one of that players bases crosses over it. The player may then choose to lock that card, which means no player is allowed to rotate it until the current player locks another card (so each player can only keep a single card locked).</li>
</ul>
<p>The player whose bases are connected first wins.</p>
<h2>Controls</h2>
<p>Click the deck to draw a new card, drag it to an empty field to place it. Right-click a card to rotate it.</p>
<p>Note that the game does not yet enforce these rules. Once I have developed an easy way to implement rules in the game, different rules can be considered.</p>